@charset "UTF-8";
/* CSS Document */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  height: 100%;
  margin: 0;
}

.max-width-wrapper {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  min-height: 100%; 
  background-color: #151515;
 } 
figure {
    margin: 0;
}

main {
    border-bottom: 1px solid #ffffff;
}
/**************************************************/
/* Nav Section - Mobile First */
/**************************************************/
header {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    position: relative;
}

.nav-container {
    width: 154px;
    position: absolute;
    top: 0;   
}

.nav-name {
    text-align: center;
}

.nav-links-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-flow: row wrap;
    list-style-type: none;
    padding: 0;
}

.nav-links-container li a {
    color: #ffffff;
}

.nav-name {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -.33px;
    color: rgba(255,255,255,1);
}

/**************************************************/
/* Selfie, Oval, and circle decoration */
/**************************************************/

/* Primary image */
.image-selfie {
    position: relative;
    width: 174px;
    height: 383px;
}

.image-selfie img {
    width: 100%;
    background: linear-gradient(rgba(36, 36, 36, 0.0001) 100%,#242424 100%);
}

/* Image to show behind primary image */
.image-oval {
    position: absolute;
    width: 530px;
    height: 129px;
    top: 124px;
    right: 187px;
}

.image-circle {
    position: absolute;
    top: 254px;
    left: 311px;
}

/**************************************************/
/* Header message */
/**************************************************/
h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    color: #ffffff;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 40px;
    margin-bottom: 24px;
}
.name-span {
    border-bottom: 4px solid #4EE1A0;
}
.header-message {
    color: rgba(217, 217, 217, 1);
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    text-align: center;
    margin-top: 0px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 24px;
}
.contact-me-link {
    color: #ffffff;
    border-bottom: 2px solid #4EE1A0;
    line-height: 38px;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 2.29px;
    text-transform: uppercase;
    text-decoration: none;
    padding-bottom: 10px;
   
}
/**************************************************/
/* Skills Section */
/**************************************************/
.skills-wrapper {
    position: relative;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    margin-top: 80px;
    margin-left: 16px;
    margin-right: 16px;
}
.skills-wrapper h2 {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -1px;
    text-align: center;
    line-height: 40px;
    margin-top: 24px;
    margin-bottom: 1px;
}
.skills-wrapper h2:first-child {
    margin-top: 40px;
}

.skills-wrapper p {
    color: rgba(217, 217, 217, 1);
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    margin-top: 0;
}
.skills-wrapper p:last-child {
    /* position: relative; */
    margin-bottom: 40px;
}
.skills-oval {
    position: absolute;
    width: 530px;
    height: 129px;
    bottom: -62px;
    left: 189px;
}
/**************************************************/
/* Project Section */
/**************************************************/
.projects-wrapper {
    margin-top: 42px;
}
.project-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
}
.project-title {
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1.14px;
    margin-left: 16px;
}
#project-contact {
    width: 120px;
    text-align: center;
    margin-right: 16px
}
.project-container {
    margin-bottom: 90px;
}

.project-container figure {
    margin-left: 16px;
    margin-right: 16px;
    width: 343px;
    height: 253px;
    margin-top: 40px;
}
.project-container img {
    width: 100%;
}
.project-container h3 {
    color:rgba(255, 255, 255, 1);
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    margin-left: 16px;
    margin-bottom: 7px; 
    text-transform: uppercase;
}
.project-tools-container ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 16px;
   
}
.project-tools-container li {
    line-height: 28px;
    color: rgba(217, 217, 217, 1);
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}
.tool-1 {
    padding-right: 18px;
}
.tool-2 {
    padding-right: 20px;
}

.project-links{
    margin-top: 20px;
}
.project-links a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 2.29px;
    line-height: 26px;
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 10px;
    border-bottom: 2px solid #4EE1A0;
    text-transform: uppercase;
}

.project-links a:first-of-type {
    margin-left: 16px;
    margin-right: 30px;  
}
/**************************************************/
/* Contact Section */
/**************************************************/
#contact-section {
    background-color: #242424;
    
}
.contact-message-container {
   
}
.contact-message-container h2 {
    color: rgba(255, 255, 255, 1);
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1.14px;
    text-align: center;
    padding-top: 60px;
    margin: 0;
}
.contact-message-container p {
    color: rgba(217, 217, 217, 1);
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    margin-top: 20px;
    margin-left: 16px;
    margin-right: 16px;
}
/* Form */
label {
    display: none;
}

form input {
    background-color: #242424;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    color: #FFFFFF;
    height: 43px;
    width: 343px;
    margin-left: 16px;
    margin-right: 16px;
}

form textarea {
    background-color: #242424;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    color: #FFFFFF;
    height: 107px;
    width: 343px;
    margin-left: 16px;
    margin-right: 16px;
    
}
.send-message-button {
    background-color: #242424;
    border: none;
    color: #ffffff;
    border-bottom: 2px solid #4EE1A0;
    line-height: 36px;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 2.29px;
    text-transform: uppercase;
    padding-bottom: 10px;
    margin-right: 16px;
    margin-top: 21px;  
}

.send-button-container {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 87px;
}

/* Footer Section */
.nav-footer-container {
    background-color: #242424;
}

.error-message {
    color: rgba(255, 111, 91, 1);
    font-weight: 500;
    font-size: 12px;
    letter-spacing: -0.17px;
    line-height: 16px;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 11px;
    margin-right: 16px;
    text-align: right;
}

/**************************************************/
/* Footer Section */
/**************************************************/
footer p {
    margin-top: 0;
    padding-top: 39px;
}

.nav-footer-container {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-flow: column wrap;
}

.footer-nav-links nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    list-style-type: none;
    width: 154px;
    margin-bottom: 60px;
}